ul.rig {
	list-style: none;
	font-size: 1em;
	display:block;
	margin-left: -2.2%;
}

ul.rig.columns-4 li {
	width: 22%;
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	background:rgb(255,255,255);
	border:1px solid #ddd;
	font-size: 1em;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-bottom:15px;
	opacity:0.8;
	cursor:pointer;
}
ul.rig li a {
	text-decoration:none;
	color:inherit;
}
ul.rig li div.image-container {
	max-width: 100%;
	height:150px;
	margin: 0 0 10px;
}

ul.rig li img {
	max-width: 100%;
	height:100%;
	margin: 0 0 10px;
}

ul.rig li div.title {
	font-size:1em;
	font-weight:bold;
	font-style:italic;
	color:#555;
	margin-bottom:0;
}

ul.rig li p {
	font-size: 0.9em;
	line-height:1.5em;
	color: #999;
}

.placetype-building {
	font-size: 0.9em;
	color: #950;
	font-style:italic;
}

.placetype-classroom {
	font-size: 0.9em;
	color: #059;
	font-style:italic;
}
.placetype-lab {
	font-size: 0.9em;
	color: #006f3d;
	font-style:italic;
}
.placetype-commonarea {
	font-size: 0.9em;
	color: #990000;
	font-style:italic;
}

ul#ri-list {
	text-align: center;
}
ul#ri-list li {
	width: 24%;
	min-height:75px;
}
ul#ri-list li div.label {
	padding:5px;
	white-space:nowrap;
}
ul#ri-list li div.value {
	padding:5px;
}

/** Galleria **/
img.loading-gif {
    position:absolute;
    top:160px;
    left:265px;
    z-index:0;
}
.galleria {
    height:450px;
    width:800px;
    visibility:hidden;
}
.galleria-container {
    background: #f0f0f0;
    border-radius:3px;
}