body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 9pt 'Lucida Grande', Verdana, Arial, sans-serif;
	background-color:#fff;
}

#page
{
	margin-bottom: 5px;
	background: white;
	margin-top:-1px;
}

#header {
	position: relative;
	width: 100%;
	height: 70px;
	clear: both;
	padding-top: 1px;
}

.cu-header{
	position: relative;
	width: 100%;
	height: 70px;
	clear: both;
	padding-top: 120px;
	background: #fff url('../library/images/university_of_colorado_light.png') top left no-repeat;
	
}

#header .places-logo {
	background-image: url('../library/images/places_jpg2.png');
	background-repeat: no-repeat;
	width: 1150px;
	height: 86px;
	float: left;
	margin-left: 0px;
}

#cu-search-input-wrapper #cu-search-input {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    padding: 3px 5px;
    width: 180px;
}

#cu-search-input-wrapper #cu-search-submit {
    height: 22px;
    text-indent: -9999px;
    width: 22px;
}

#cu-search-input-wrapper input {
    -moz-box-sizing: content-box;
    border: medium none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

.places-logo #cu-search-input {
    background-color: #CDCDCD;
    color: #000000;
} 

.places-logo #cu-search {
    background-color: #333333;
}

.places-logo #cu-links {
    color: #FFFFFF;
}

#cu-links {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    margin: 0;
    padding-bottom: 10px;
}

#cu-links a {
    color: inherit;
	text-decoration: none;
}

#cu-search {
	background-color:#333;
    border-radius: 7px 7px 7px 7px;
    float: none;
    font-size: 0px;
    padding: 7px;
	position: absolute;
	right: 15px;
	top: 15px;
	color:#f50;
}

#cu-search a {
	color:#fff;
}
#cu-search a:hover {
	color:#fa0;
}

#header .search-bar {
	position: absolute;
	/*background-image:url('../library/images/submit.png');*/
	bottom: 0;
	right: 0;
	text-align: right;
	padding: 10px;
}

#content
{
	border: 1px solid #ccc;
	padding: 10px;
	min-height: 150px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}


#footer{
	/*background-image: url("../library/images/whiteonly-1.png");
	background-repeat: no-repeat;*/
	background-position: 30px center;
	background-color: #0A73B9;
	color: #fff;
	padding: 10px;
	border:2px solid #555;
	margin-top:10px;
	text-align: center;
	font-size:10px;
}

#footer a {
	color: #ccc;
	text-decoration: none;	
}

#footer a:hover {
	color:#f50;
}

#assett-logo {
	position: absolute;
	top: 16px;
	right: 0px;
	width: 252px;
	height: 63px;
	background-image: url("../library/images/small_assett_logo1.png");
	background-repeat: no-repeat;
}

.whtassett-logo{
	background-image: url("../library/images/whiteonly-1.png");
	background-repeat: no-repeat;
	position: absolute;
	height: 80px;
	margin-top: 10px;
	width: 180px;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.calign {
	text-align: center;
}
.ralign {
	text-align: right;
}
.lalign {
	text-align: left;
}
.tvalign {
	vertical-align:top;
}
.mvalign {
	vertical-align: middle;
}
.bvalign {
	vertical-align: bottom;
}

.image404 {
	margin:35px;
	margin-left:150px;
	font-size:35px;
}
.image404 div.subtitle {
	font-size:15px;
}

.breadcrumb-bar a {
}

.blue {
	color:#09f;
}

div.room-link:hover {
	background-color:#def;
	cursor:pointer;
}
div.date-taken {
	text-align: center;
	margin-bottom:10px;
}
div.tablinks {
	margin-left:45px;
	margin-bottom:15px;
}
a.tablink {
	font-size:13px;
	letter-spacing:1px;
	font-weight:normal;
	text-decoration:none;
	color:#79f;
}
a.tablink:hover {
	text-decoration:underline;
}
a.tablink.selected {
	color:#c0c0c0;
}
a.tablink.selected:hover {
	text-decoration:none;
}
div.breadcrumb-bar {
	margin:-11px;
	border:1px solid #09f;
	margin-bottom:15px;
	padding:5px;
}
table.imgtable {
	border-spacing:5px;
}
table.imgtable tr td {
	padding:0;
	margin:0;
	padding-right:5px;
	padding-left:5px;
}
table.imgtable tr td.img-holder:hover {
	cursor: pointer;
}
table.imgtable tr td {
	color: #000;
	text-shadow: 0 0 0.3em #DEF, 0 0 0.3em #DEF;
	font-size:18px;
	text-align: center;
	vertical-align:middle;
	position: relative;
}
table.imgtable tr td div.image {
	background-color:#fff;
	padding:1px;
	padding-left:8px;
	padding-right:5px;
	line-height: 1.5em;
	border-radius:5px;
	position:absolute;
	left:-5px;
	top:50px;
	text-align: left;
	max-width:175px;
}
table.imgtable tr td img {
	opacity: .5;
}
div.room-link:hover {
	background-color:#def;
	cursor:default;
}
#galleria {
	width: 600px; height: 400px; background: #fff;
}
.info-box {
	cursor: default;
}
div.breadcrumb-bar {
	margin:-11px;
	border:1px solid #09f;
	margin-bottom:15px;
	padding:5px;
}

div.subtitle {
	padding:5px;
}