/** Used for fancy-ing tables **/
	
table.fancy-table {
    border-collapse:collapse;
    border-spacing:0px;
    font-size:0.8em;
}
table.fancy-table thead tr th {
    padding:7px;
    color:#fff;
    background-color:#016cc2;
    font-size:12px;
    font-weight:bold;
}
table.fancy-table tbody tr td {
    padding:5px;
}
table.fancy-table tbody tr td.label {
    width:150px;
    font-weight:bold;
    padding-right:10px;
}
table.fancy-table tbody tr td.form-input {
    width:500px;
    padding-left:10px;
}
table.fancy-table tbody tr td span.hint {
    color:#999;
    font-size:11px;
}
table.fancy-table tbody tr.odd td {
    background-color:#f5f5f9;
}
table tbody tr td.empty {
	padding:20px;
	text-align:center;
	vertical-align:middle;
}

/** Front-page table **/
table#haves-table {
    border-spacing:3px;
    width:100%;
}
table#haves-table tr th {
    border:2px solid #ccc;
    padding:5px;
    color:#333;
    background-color:#eee;
    font-weight:bold;
}
table#haves-table tr td {
    padding:5px;
    padding-left:10px;
}
.ui-widget-content a {
    color:#09a;
}
table#haves-table tbody tr.odd td {
    background-color:#f0f0f0;
}
table#haves-table tr td.propid {
    padding:0px;
}
span.name {
    color:#09f;
}
table.modal-table tr th {
    vertical-align:top;
},
table.modal-table tr td {
    vertical-align:middle;
}
table.modal-table tr td {
    padding-left:15px;
}
table.modal-table tr th div {
    padding:5px;
    border:2px solid #ccc;
    background-color:#fff;
    min-width:100px;
}

/** Post CU Property Table **/
table#post-form-table tr th {
    vertical-align: top;
}
table#post-form-table tr th div {
    padding:5px;
    border:2px solid #ccc;
    background-color:#f0f0f0;
}
table#post-form-table tr td {
    padding-left:15px;
}

input#contactname {
    width:200px;    
}

input#department,
input#contactemail {
    width:300px;
}
.hint {
    color:#999;
}
table#post-form-table tr td div.hint {
    float:left;
}
div.button-container {
    margin-top:10px;
    margin-left:25px;
}
div.button-container button {
}
table#post-form-table tr td textarea {
    font-family: Verdana, Geneva, sans-serif;
}
table#post-form-table tr th div.highlight {
	border:2px solid #ffcc33;
	color:#ffcc33;
	background-color:#fffcf0;
	font-weight:bold;
}
table#post-form-table tr th div.error {
	border:2px solid #CC0000;
	background-color:#fff0f0;
	color:#CC0000;
}

/** Admin Feedback Table **/
table#issues-table {
	border-collapse:separate;
	border-spacing:2px;
	font-size:11px;
}
table#issues-table tbody tr td {
	padding:5px;
	border:2px solid #ccc;
}
table#issues-table tbody tr.even td {
	background-color:#fff;
}
table#issues-table tbody tr.odd td {
	background-color:#fff;
}
table#issues-table tbody tr td.empty {
	padding:20px;
	text-align:center;
	vertical-align:middle;
}